main {
  margin: auto;
}

.codeblock {
  background-color: rgb(230,240, 240);
  padding: 2em;
  border: 2px solid black;
  position: relative;
  box-sizing: border-box;
}

code {
  white-space: pre;
}

h2 {
  text-align: center;
}

.animations {
  text-align: center;
  margin: auto;
}
